<%= render 'shared/flashmessage' %>
<h1><%=t('.edit_title')%></h1>
<hr>
<div class="center-content-basket">
  <%= form_with model: @basket, local: true do |form| %>
  <p>
    <%= form.label :customerName, t(".edit_customerName") %><br>
    <%= form.text_field :customerName, title: t(".edit_enter_customerName"), size: 30, :required => true %>
  </p>

  <p>
    <%= form.label :address, t(".edit_address") %><br>
    <%= form.text_field :address, title: t(".edit_enter_address"), size: 30, :required => true %>
  </p>

  <p>
    <%= form.label :city, t(".edit_city") %><br>
    <%= form.text_field :city, title: t(".edit_enter_city"), size: 30, :required => true %>
  </p>

  <p>
    <%= form.label :county, t(".edit_county") %><br>
    <%= form.text_field :county, title: t(".edit_enter_county"), size: 30, :required => true %>
  </p>

  <p>
    <%= form.label :postcode, t(".edit_postcode") %><br>
    <%= form.text_field :postcode, title: t(".edit_enter_postcode"), size: 30, :required => true %>
  </p>

  <p>
    <%= form.submit t(".edit_button"), class: "btn btn-primary"%>
  </p>

  <%= link_to 'Back', @basket %>
<% end %>
</div>
