<h1><%=t('.index_title')%></h1>
<hr>

<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_basket_column')%></b>
      </span>
    </div>
    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_customerInfo_column')%></b>
      </span>
    </div>
    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_items_column')%></b>
      </span>
    </div>
    <div class="col-sm-2" align="center"></div>
  </div>
  <hr>
  <% @baskets.each do |basket| %>
    <div class="row">
      <div class="col-sm-2" align="center">
        <%= basket.id %>
      </div>

      <div class="col-sm-2" align="center">
        <%= basket.customer_info_id %>
      </div>

      <div class="col-sm-2" align="center">
        <%= basket.items.count %>
      </div>

      <div class="col-sm-2">
        <%= link_to t('.index_destroy_button'), basket, method: :delete, data: { confirm: t('.index_destroy_message') } %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
