<%= render 'shared/flashmessage' %>

<%# If user is already logged in, ensure they do not have access to the login page until they logout %>
  <% if user_logged_in %>
    <h1><%=t('.login_prevent_title')%></h1>
    <hr>
    <div class="center-content">
      <p><%=t('.login_prevent_desc')%></p>
    </div>
  <% else %>
    <h1><%=t('.login_title')%></h1>
    <hr>
    <div class="center-content">
        <%= form_with scope: :login, url: sessions_path, local: true do |form| %>
        <p>
          <%= form.label :email, t(".login_email") %><br>
          <%= form.email_field :email, title: t(".login_enter_email"), placeholder: t(".login_email_placeholder"), size: 30, :required => true %>
        </p>
        <p>
          <%= form.label :password, t(".login_password") %><br>
          <%= form.password_field :password, title: t(".login_enter_password"), placeholder: t(".login_password_placeholder"), size: 30, :required => true %>
        </p>
        <p>
          <%= form.submit t(".login_button") %>
        </p>
        <p><%=t('.login_direct_to_signup')%>
          <a href="<%= user_signup_path %>"><%=t('.login_link_signup')%></a>
        </p>
      <% end %>
    </div>
  <% end %>
