<%= render 'shared/flashmessage' %>
<h1><%=t('.signup_title')%></h1>
<hr>
<p><%=t('.signup_description')%></p>
<ul>
  <li><%=t('.signup_benefit1')%></li>
  <li><%=t('.signup_benefit2')%></li>
  <li><%=t('.signup_benefit3')%></li>
</ul>
<hr>

<%# Note: "model: User.new" is equivalent to "scope: :user, url: users_path" %>
<%= form_with model: User.new, local: true do |form| %>
<p>
  <%= form.label :username, t(".signup_username") %><br>
  <%= form.text_field :username, title: t(".signup_enter_username"), placeholder: t(".signup_username_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :name, t(".signup_name") %><br>
  <%= form.text_field :name, title: t(".signup_enter_name"), placeholder: t(".signup_name_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :email, t(".signup_email") %><br>
  <%= form.email_field :email, title: t(".signup_enter_email"), placeholder: t(".signup_email_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :password, t(".signup_password") %><br>
  <%= form.password_field :password, title: t(".signup_enter_password"), placeholder: t(".signup_password_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :password_confirmation, t(".signup_confirm_password") %><br>
  <%= form.password_field :password_confirmation, title: t(".signup_enter_confirm_password"), placeholder: t(".signup_confirm_password_placeholder"), size: 30, :required => true %>
</p>

<p>
  <b>NOTE:</b> <%= t(".signup_email_note") %>
  </p>

<p>
  <%= form.submit t(".signup_button") %>
</p>
<% end %>
