<h1><%=t('.signup_title')%></h1>
<hr>
<p><%=t('.signup_description')%></p>
<ul>
  <li><%=t('.signup_benefit1')%></li>
  <li><%=t('.signup_benefit2')%></li>
  <li><%=t('.signup_benefit3')%></li>
</ul>
<hr>

<%= form_with model: User.new, local: true do |form| %>
<p>
  <%= form.label :username, t(".username") %><br>
  <%= form.text_field :username, title: t(".enter_username"), size: 30, placeholder: t(".username_placeholder"), :required => true %>
</p>

<p>
  <%= form.label :name, t(".name") %><br>
  <%= form.text_field :name, title: t(".enter_name"), size: 30, placeholder: t(".name_placeholder"), :required => true %>
</p>

<p>
  <%= form.label :email, t(".email") %><br>
  <%= form.email_field :email, title: t(".enter_email"), placeholder: t(".email_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :password, t(".password") %><br>
  <%= form.password_field :password, title: t(".enter_password"), size: 30, placeholder: t(".password_placeholder"), :required => true %>
</p>

<p>
  <%= form.label :confirm_password, t(".confirm_password") %><br>
  <%= form.password_field :password, title: t(".enter_confirm_password"), size: 30, placeholder: t(".confirm_password_placeholder"), :required => true %>
</p>

<p>
  <%= form.submit t(".signup_button") %>
</p>
<% end %>
