<%# Parial view for a header for every view page
Inserted into the application.html.erb file %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>"><%=t('.header_company')%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>"><%=t('.header_home')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= main_contact_path %>"><%=t('.header_contact')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= main_about_path %>"><%=t('.header_about')%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>"><%=t('.header_products')%></a>
        </li>
        <% if user_logged_in %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_account_path %>"><%=t('.header_account')%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= reviews_path %>"><%=t('.header_review')%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= orders_path %>"><%=t('.header_order')%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_logout_path %>"><%=t('.header_logout')%></a>
          </li>
        <% else %>
          <li class="nav-item mr-sm-2">
            <a class="nav-link" href="<%= user_login_path %>"><%=t('.header_login')%></a>
          </li>
        <% end %>
        <li class="nav-item">
          <%# Even though it says Basket, we are actually showing the contents in index Items %>
          <a href="<%= baskets_path %>/<%= session[:basket_id] %>" class="btn btn-outline-warning">Basket <span class="badge badge-light"><%= count_basket() %></span></a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><%=t('.header_search_button')%></button>
    </form>
  </nav>
