
<div class="center-content-order">
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>
<br>
<br>
  <div class="field">
    <%= form.label :card_number, t(".form_cardnumber_label")%><br>
    <%= form.text_field :card_number, title: t(".form_cardnumber_title"), placeholder: t(".form_cardnumber_placeholder"), size: 30, :required => true %>
  </div>
  <br>

  <div class="field">
    <%= form.label :svc_number, t(".form_svcnumber_label")%><br>
    <%= form.text_field :svc_number, title: t(".form_svcnumber_title"), placeholder: t(".form_svcnumber_placeholder"), size: 30, :required => true %>
  </div>
  <br>

  <div class="field">
    <%= form.label :message, t(".form_message_label")%><br>
    <%= form.text_area :message, title: t(".form_message_title"), placeholder: t(".form_message_placeholder"), size: "50x5"%>
  </div>
  <br>

  <div class="field">
    <%= form.label :deliveryDate, t(".form_deliverydate_label")%>
    <%= form.datetime_select :deliveryDate, start_year: 2020, end_year: 2021 %>
  </div>
  <br>

  <div class="field">
    <b><%=t(".form_note_title")%></b> <%=t(".form_note_disclaimer")%>
  </div>
  <br>

  <div class="actions">
    <%= form.submit t(".form_submit_button"), class: "btn btn-warning"%>
  </div>
<% end %>
</div>
