<br>
<h1><%=t('.index_title')%></h1>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_orderID_column')%></b>
      </span>
    </div>

    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_cardNumber_column')%></b>
      </span>
    </div>

    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_svcNumber_column')%></b>
      </span>
    </div>

    <div class="col-sm-2" align="center">
      <span>
        <b><%=t('.index_totalCost_column')%></b>
      </span>
    </div>

    <div class="col-sm-3" align="center">
      <span>
        <b><%=t('.index_deliveryDate_columnn')%></b>
      </span>
    </div>

    <div class="col-sm-2" align="center">
    </div>
  </div>

  <hr>

  <% if @orders != nil %>
  <% @orders.each do |order| %>
  <div class="row">
    <div class="col-sm-2" align="center">
      <%= order.id %>
    </div>

    <div class="col-sm-2" align="center">
      <%# This displays only the last 4 card numbers and the rest are asterisks %>
      <%= '*' * ((order.card_number.length) - 4) + order.card_number.last(4) %>
    </div>

    <div class="col-sm-2" align="center">
      <%= '*' * (order.svc_number).length %>
    </div>

    <div class="col-sm-2" align="center">
      <%=t('.index_currency')%><%= order.orderTotal %>
    </div>

    <div class="col-sm-3" align="center">
      <%= order.deliveryDate %>
    </div>

    <div class="col-sm-2" align="center">
      <%= link_to 'Show', order %>
    </div>
  </div>
  <br>
  <% end %>
  <hr>
  <%= link_to t('.index_linkto_message1'), products_path %>
  <br>
  <br>
  <% else %>
  <%= link_to t('.index_linkto_message2'), products_path %>
  <% end %>
</div>
