<p id="notice"><%= notice %></p>

<p>
  <strong>Basket:</strong>
  <%= @order.basket.id %>
</p>

<p>
  <strong>Your Order-Reference ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @order.card_number %>
</p>

<p>
  <strong>Svc number:</strong>
  <%= @order.svc_number %>
</p>

<p>
  <strong>Total Charged:</strong>
  <%= @order.orderTotal %>
</p>

<p>
  <strong>Message:</strong>
  <%= @order.message %>
</p>


<p>
  <strong>Preferred Delivery Date:</strong>
  <%= @order.deliveryDate %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
