<%= render 'shared/flashmessage' %>

<h1><%=t('.show_title')%></h1>
<hr>

<br>
<p>
  <strong><%=t('.show_basketID_display')%></strong>
  <%= @order.basket.id %>
</p>

<p>
  <strong><%=t('.show_orderID_display')%></strong>
  <%= @order.id %>
</p>

<p>
  <strong><%=t('.show_cardNumber_display')%></strong>
  <%# This displays only the last 4 card numbers and the rest are asterisks %>
  <%= '*' * ((@order.card_number.length) - 4) + @order.card_number.last(4) %>
</p>

<p>
  <strong><%=t('.show_svcNumber_display')%></strong>
  <%= '*' * (@order.svc_number).length %>
</p>

<p>
  <strong><%=t('.show_orderTotal_display')%></strong>
  <%= t('.show_currency') %><%= @order.orderTotal %>
</p>

<p>
  <strong><%=t('.show_message_display')%></strong>
  <%= @order.message %>
</p>


<p>
  <strong><%=t('.show_deliveryDate_display')%></strong>
  <%= @order.deliveryDate %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
