<h1><%=t('contact_title')%></h1>
<p><%=t('contact_description')%></p>
<h6><%=t('contact_disclaimer')%></h6>

<%= form_with scope: :contact, url: contacts_path, local: true do |form| %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :text %><br>
  <%= form.text_area :text %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
