<h1><%=t('.contact_title')%></h1>
<hr>
<p><%=t('.contact_description')%></p>
<p class="font-italic font-weight-bold"><%=t('.contact_disclaimer')%></p>
<hr>

<%= form_with scope: :form, url: request_form_url, method: 'post', local: true do |form| %>
<p>
  <%= form.label :name, t(".name") %><br>
  <%= form.text_field :name, title: t(".enter_name"), placeholder: t(".name_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :email, t(".email") %><br>
  <%= form.email_field :email, title: t(".enter_email"), placeholder: t(".email_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :telephone, t(".telephone") %><br>
  <%= form.telephone_field :telephone, title: t(".enter_telephone"), placeholder: t(".telephone_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :message, t(".message") %><br>
  <%= form.text_area :message, title: t(".enter_message"), placeholder: t(".message_placeholder"), size: "50x5", :required => true %>
</p>

<p>
  <%= form.submit t(".submit") %>
</p>
<% end %>
