<h1><%=t('.contact_title')%></h1>
<hr>
<p><%=t('.contact_description')%></p>
<p class="font-italic font-weight-bold"><%=t('.contact_disclaimer')%></p>
<hr>

<%= form_with scope: :form, url: request_form_url, method: :post, local: true do |form| %>
<p>
  <%= form.label :name, t(".form_name") %><br>
  <%= form.text_field :name, title: t(".form_enter_name"), placeholder: t(".form_name_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :email, t(".form_email") %><br>
  <%= form.email_field :email, title: t(".form_enter_email"), placeholder: t(".form_email_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :telephone, t(".form_telephone") %><br>
  <%= form.telephone_field :telephone, title: t(".form_enter_telephone"), placeholder: t(".form_telephone_placeholder"), size: 30, :required => true %>
</p>

<p>
  <%= form.label :message, t(".form_message") %><br>
  <%= form.text_area :message, title: t(".form_enter_message"), placeholder: t(".form_message_placeholder"), size: "50x5", :required => true %>
</p>

<p>
  <%= form.submit t(".form_submit") %>
</p>
<% end %>
