<%= render 'shared/flashmessage' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" align="center">
      <img src="<%= asset_path(@product.image_url)%>" alt="<%= @product.name %>" class="img-display">
    </div>
    <div class="col-sm-5">
      <br>
      <h1><%= @product.name %>
        <% if @product.is_new %>
          <%= render 'shared/badgenew' %>
        <% end %>
      </h1>
      <% if Review.exists?(product_id: @product.id) %>
      <% @averageRating = Review.where(product_id: @product.id).average(:rating) %>
      <% else %>
      <% @averageRating = 0 %>
      <% end %>
      <div class="rating-review-stars" style="--rating: <%= @averageRating %>;" title="<%=t('.show_reviewstars_title1')%> <%= @averageRating %> <%=t('.show_reviewstars_title2')%>"></div>
      <br>
      <% if @product.has_badge %>
        <%= render 'shared/badgechoice' %>
      <% end %>
      <hr>
      <h3><%=t('.show_price')%>
        <%=t('.show_currency')%><%= @product.price %></h3>
      <br>
      <h4><%=t('.show_quantityinstock')%>
        <%= @product.quantityInStock %></h4>
      <hr>
      <p>
        <b><%=t('.show_description')%></b>
      </p>
      <hr>
      <p><%= @product.description %></p>
      <p>
        <b><%=t('.show_category')%></b>
        <%= @product.category %></p>
      <hr>
        <%= button_to t('.show_add_to_basket'), items_path(product_id: @product), params: { quantityOrdered: '1'}, class: "btn btn-primary" %>
      <br>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>

<hr>

<%= button_to 'Write a Review', new_product_review_path(product_id: @product.id), method: :get, class: "btn btn-primary" %>

<%= render 'reviews/index' %>
