<!DOCTYPE html>
<html>
  <head>
    <title>Whamazone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# include stylesheets/application.scss and javascripts/application.js %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <%= render 'shared/header' %>
      <div class="margin-center">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </body>
  </html>
